@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
p,
button,
input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

li {
  list-style-type: none;
}

body {
  background-color: #fafafa;
  background-image: url("../images/bg-mobile-light.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 23.4375rem) {
  body {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}

@media screen and (min-width: 90rem) {
  body {
    background-size: contain;
  }
}

.bgHelper {
  width: 20rem;
  margin: 3rem auto;
}

@media screen and (min-width: 40rem) {
  .bgHelper {
    width: 33.75rem;
    margin-top: 5rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #fafafa;
  font-weight: 700;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media screen and (min-width: 40rem) {
  header h1 {
    font-size: 2.7rem;
  }
}

header button {
  width: 18px;
  height: 18px;
  background-image: url("../images/icon-moon.svg");
  background-color: transparent;
  border: none;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 40rem) {
  header button {
    width: 32px;
    height: 32px;
  }
}

header button:hover, header button:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btn_listCircle {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #d2d3db;
  border-radius: 11px;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn_listCircle:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_removeItem {
  width: 13px;
  height: 13px;
  border: none;
  background-color: transparent;
  background-image: url("../images/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn_removeItem:hover, .btn_removeItem:focus {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #addItemBox {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main #addItemBox button {
  vertical-align: middle;
}

main #addItemBox input {
  width: 75%;
  height: 28px;
  margin-left: 7px;
  padding: 0.3rem;
  border: none;
  font-size: 0.7rem;
  color: #484b6a;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  vertical-align: middle;
}

@media screen and (min-width: 40rem) {
  main #addItemBox input {
    font-size: 1rem;
  }
}

main #listBox {
  margin-top: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px -7px #9394a5;
          box-shadow: 0 0 20px -7px #9394a5;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .listItem {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e4e5f1;
}

main .listItem.borderBottomNone {
  border-bottom: none;
}

main .listItem.dragBorderBottom {
  border-bottom: 2px solid blue;
}

main .listItem.dragBorderTop {
  border-top: 2px solid blue;
}

main .listItem p {
  width: 80%;
  font-size: 0.8rem;
  color: #484b6a;
}

@media screen and (min-width: 40rem) {
  main .listItem p {
    width: 88%;
    font-size: 1.1rem;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

main .listItem.itemCompleted .btn_listCircle {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom right, #57ddff, #c058f3);
}

main .listItem.itemCompleted .btn_listCircle::after {
  position: absolute;
  top: 2px;
  left: 1px;
  right: 0;
  bottom: 0;
  content: url("../images/icon-check.svg");
}

main .listItem.itemCompleted p {
  color: #d2d3db;
  text-decoration: line-through;
}

main .bottomInfo {
  padding: 0.5rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .bottomInfo p {
  font-size: 0.7rem;
  color: #9394a5;
}

main .bottomInfo .listFunctionBtns {
  display: none;
}

@media screen and (min-width: 40rem) {
  main .bottomInfo .listFunctionBtns {
    display: block;
  }
}

main .bottomInfo .listFunctionBtns button {
  margin: 0 5px;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  color: #9394a5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main .bottomInfo .listFunctionBtns button:focus, main .bottomInfo .listFunctionBtns button:hover {
  cursor: pointer;
  color: #484b6a;
}

main .bottomInfo .listFunctionBtns button.functionActive {
  color: #3a7bfd;
}

main .bottomInfo #btn_clear {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #9394a5;
  font-size: 0.7rem;
}

main .bottomInfo #btn_clear:focus, main .bottomInfo #btn_clear:hover {
  cursor: pointer;
  color: #484b6a;
}

main .bottomInfo #btn_clear:active {
  color: #3a7bfd;
}

main #listFunctionsBox {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px -7px #9394a5;
          box-shadow: 0 0 20px -7px #9394a5;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 40rem) {
  main #listFunctionsBox {
    display: none;
  }
}

main #listFunctionsBox button {
  margin: 0 5px;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  color: #9394a5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main #listFunctionsBox button:focus, main #listFunctionsBox button:hover {
  cursor: pointer;
  color: #484b6a;
}

main #listFunctionsBox button.functionActive {
  color: #3a7bfd;
}

footer {
  margin-top: 3rem;
  text-align: center;
}

footer p {
  font-size: 0.8rem;
  color: #9394a5;
}

body.darkTheme {
  background-color: #161722;
  background-image: url("../images/bg-mobile-dark.jpg");
}

@media screen and (min-width: 23.4375rem) {
  body.darkTheme {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
}

body.darkTheme .btn_listCircle {
  border: 1px solid #4d5066;
}

body.darkTheme header button {
  background-image: url("../images/icon-sun.svg");
}

body.darkTheme main #addItemBox {
  background-color: #25273c;
}

body.darkTheme main #addItemBox input {
  background-color: #25273c;
  color: #cacde8;
}

body.darkTheme main #listBox {
  background-color: #25273c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.darkTheme main #listBox .listItem p {
  color: #cacde8;
}

body.darkTheme main #listBox .bottomInfo p,
body.darkTheme main #listBox .bottomInfo #btn_clear {
  color: #4d5066;
}

body.darkTheme main #listBox .bottomInfo .listFunctionBtns button {
  color: #4d5066;
}

body.darkTheme main #listBox .bottomInfo .listFunctionBtns button:focus, body.darkTheme main #listBox .bottomInfo .listFunctionBtns button:hover {
  cursor: pointer;
  color: #cacde8;
}

body.darkTheme main #listBox .bottomInfo .listFunctionBtns button.functionActive {
  color: #3a7bfd;
}

body.darkTheme main #listBox .bottomInfo #btn_clear:focus, body.darkTheme main #listBox .bottomInfo #btn_clear:hover {
  cursor: pointer;
  color: #cacde8;
}

body.darkTheme main #listBox .bottomInfo #btn_clear:active {
  color: #3a7bfd;
}

body.darkTheme main #listFunctionsBox {
  background-color: #25273c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.darkTheme main #listFunctionsBox button {
  color: #4d5066;
}

body.darkTheme main #listFunctionsBox button:focus, body.darkTheme main #listFunctionsBox button:hover {
  cursor: pointer;
  color: #cacde8;
}

body.darkTheme main #listFunctionsBox button.functionActive {
  color: #3a7bfd;
}

body.darkTheme footer p {
  color: #4d5066;
}
/*# sourceMappingURL=main.css.map */